{% load staticfiles %}
	<head>
		<title>tallas</title>
		<link rel="stylesheet" type="text/css" href="{% static "css/tallas.css" %}">
	</head>
	<body>
	<div id="adorno">
	</div>
	<div id="foto">
		<img src="/{{articulo.foto}}"><br>

		<select name="talla">
		<option selected>Talla</option>
		{% for talla in lista_tallas %}
		<option>{{ talla.talla }}</option>
		{% endfor %}
		</select>

		<select name="color">
		<option selected>Color</option>
		{% for talla in lista_tallas %}
		<option>{{ talla.color }}</option>
		{% endfor %}
		</select>
	</div>

	<div id="comentarios">

	{% if lista_comentarios %}
		<p>Comentarios de los usuarios:</p>
		{% for comentario in lista_comentarios %}
		<li>{{ comentario.comentario }}</li>
		{% endfor %}
	{% else %}
		<p>No hay comentarios</p>			
	{% endif %}

	<form method="POST"> {% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Guardar</button>
	</form>	
	</div>
	</body>
