	<head>
		<title>tallas</title>
	</head>
	<body>
	<table border="1" style="width:100%">
		<tr>
			<td>TALLA</td>
			<td>COLOR</td>
					
		</tr>
		
			{% for talla in lista_tallas %}
			<tr>
				<td>{{ talla.talla }}</td>
				<td>{{ talla.color }}</td>
			</tr>
		        {% endfor %}
	</table>

	{% if lista_comentarios %}
		<p>Comentarios de los usuarios:</p>
		{% for comentario in lista_comentarios %}
		<li>{{ comentario.comentario }}</li>
		{% endfor %}
	{% else %}
		<p>No hay comentarios</p>			
	{% endif %}

	<form method="POST"> {% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Guardar</button>
	</form>	
	</body>
