*{
	margin: 0;
	padding: 0;
	text-align: center;
}
#tipo{
	height: 150px;
	background-color: blue;
	margin-top: 20px;
	background-image: url(jeans.jpeg);
}
#tipo p{
	padding-top: 50px;
	font-size: 30px;
}
img{
	padding-top: 20px;
}

	

