*{
	margin: 0;
	padding: 0;
	text-align: center;
	
}
#tipo{
	height: 150px;
	background-image: url(flores.jpeg);
	
	
}
#tipo p{
	padding-top: 20px;
	font-size: 80px;
	font-weight:bold;
}
img{
	padding-top: 20px;
}
#foto{
	background-color:#FFFAF0;
}

	

